<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3911欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">3911介绍</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;产品介绍</h3>
        <ul>
            <li>XXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
            <li>XXXXXXXXXXXXXXXXXXX</li>
            <li>XXXXXXXXXXXXXXXXXXX</li>
            <li>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
        </ul>


    </div>
</div>
</body>
</html>