<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">3911介绍</div>
    <div style="padding: 10px 0 20px 10px;">
        <ul>
            <li>
                尊敬的用户你好，3911提示你，本软件仅供学习参靠，禁止用于非法用途，所造成的一切后果，由用户自己承担，与3911无关。
            </li>
            <li>本软件为信息提醒，带有部分语音信箱。</li>
            <li>如有疑问和建议，请联系卖家，研发团队会加以改善。</li>
        </ul>
    </div>
    <div class="panel-heading">当前价格列表</div>
    <table id="exampleTable" data-mobile-responsive="true">
    </table>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/main/product.js"></script>
</body>
</html>