<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3911欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">3911介绍</div>
    <div style="padding: 10px 0 20px 10px;">
        <ul>
            <li>
                尊敬的用户你好，3911提示你，本软件仅供学习参靠，禁止用于非法用途，所造成的一切后果，由用户自己承担，与3911无关。
            </li>
            <li>本软件为信息提醒，带有部分语音信箱。</li>
            <li>如有疑问和建议，请联系卖家，研发团队会加以改善。</li>
        </ul>


    </div>
</div>
</body>
</html>