<!DOCTYPE html>
<html xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
                <div class="ibox-body">
                    <div class="fixed-table-toolbar">
						<form id="cardForm">
							<div class="columns pull-left col-md-2 nopadding">
								<input type="text" placeholder="请输入卡密" name="orderNo">
								<button shiro:hasPermission="hongzha:sms:valid" type="button"
										class="btn  btn-primary" onclick="valid()">
									激活卡密
								</button>
							</div>

						</form>

                       <!-- <form id="phoneForm">
                            <div class="columns pull-left col-md-2 nopadding">
                                <input type="text" placeholder="请输入手机号" name="phoneNum">
                            </div>
                        </form>
                        <div class="columns pull-left">
                            <button shiro:hasPermission="hongzha:sms:add" type="button"
                                    class="btn  btn-primary" onclick="addPhone()">
                                <i class="fa fa-plus" aria-hidden="true"></i>添加手机号
                            </button>
                        </div>
						<div class="columns pull-left">
							<button shiro:hasPermission="hongzha:sms:stop" type="button"
									class="btn  btn-primary" onclick="stop()">
								停止
							</button>
						</div>-->

						<div class="columns pull-right">
							<button shiro:hasPermission="hongzha:sms:stop" type="button"
									class="btn  btn-primary" onclick="reLoad()">
								刷新
							</button>
						</div>
                    </div>
                    <table id="exampleTable" data-mobile-responsive="true">
                    </table>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_add_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="hongzha:sms:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="hongzha:sms:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="hongzha:sms:add">
			<script type="text/javascript">
				var s_add_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/hongzha/sms/sms.js"></script>
</body>
</html>