<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.ConfigDao">

	<select id="get" resultType="com.bootdo.system.domain.ConfigDO">
		select `id`,`url_str`,`param_value`,`post_type`,`is_valid` from bom_config where id = #{value}
	</select>

	<select id="listAvailable" resultType="com.bootdo.system.domain.ConfigDO">
		select `id`,`url_str`,`param_value`,`post_type`,`is_valid` from bom_config where is_valid='1'
	</select>

	<select id="list" resultType="com.bootdo.system.domain.ConfigDO">
		select `id`,`url_str`,`param_value`,`post_type`,`is_valid` from bom_config
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="urlStr != null and urlStr != ''"> and url_str = #{urlStr} </if>
		  		  <if test="paramValue != null and paramValue != ''"> and param_value = #{paramValue} </if>
		  		  <if test="postType != null and postType != ''"> and post_type = #{postType} </if>
		  		  <if test="isValid != null and isValid != ''"> and is_valid = #{isValid} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from bom_config
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="urlStr != null and urlStr != ''"> and url_str = #{urlStr} </if>
		  		  <if test="paramValue != null and paramValue != ''"> and param_value = #{paramValue} </if>
		  		  <if test="postType != null and postType != ''"> and post_type = #{postType} </if>
		  		  <if test="isValid != null and isValid != ''"> and is_valid = #{isValid} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.ConfigDO" useGeneratedKeys="true" keyProperty="id">
		insert into bom_config
		(
			`url_str`, 
			`param_value`, 
			`post_type`, 
			`is_valid`
		)
		values
		(
			#{urlStr}, 
			#{paramValue}, 
			#{postType}, 
			#{isValid}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.ConfigDO">
		update bom_config 
		<set>
			<if test="urlStr != null">`url_str` = #{urlStr}, </if>
			<if test="paramValue != null">`param_value` = #{paramValue}, </if>
			<if test="postType != null">`post_type` = #{postType}, </if>
			<if test="isValid != null">`is_valid` = #{isValid}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from bom_config where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from bom_config where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>